.markdown {
  min-width: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  overflow-wrap: anywhere;
}

.markdown pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre;
}

.markdown img,
.markdown video {
  max-width: 100%;
  height: auto;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.markdown h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown img {
  margin-right: auto;
  margin-left: auto;
}

.markdown a {
  color: var(--primary);
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}
